{
	"presets": ["@babel/env", "@babel/typescript", "@babel/react"],
	"plugins": [
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		["@fcc/babel-plugin-inline-import", { "loose": true }],
		["babel-plugin-styled-components", { "loose": true }],
    ["@babel/plugin-transform-runtime", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }]
	],
	"env": {
		"esm": {
			"presets": [["@babel/env", { "modules": false }]]
		}
	}
}
