node_modules
coverage
dist/
esm/
.idea
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
__diff_output__
*test-report.xml
jest.json
.docz
playwright/node_modules/
playwright/test-results/
playwright/playwright-report/
playwright/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/

# Reports
/reports/outdated.html